@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
	scroll-behavior: smooth;
	font-family: "poppins", "sans-serif";
}

html,
body {
	margin: 0;
	background-color: #bad2ff;
	overflow-x: hidden;
}
