@media screen and (max-width: 700px) {
    .nav ul li{ 
        display: none;
    }
    #menu-btn {
        display: block;
    }
}
@media screen and (min-width:701px) {
    #hamburger-container {
        display: none;
    }}