#section1 {
	padding-top: 90px;
	height: 100vh;
	color: black;
}
#section1-container {
	margin: 0px clamp(20px, 5vw, 50vw);
	position: fixed;
}

#section1 h1 {
	font-size: 60px;
	font-family: "Montserrat";
	color: #001b4d;
}
#section1 h4 {
	margin-left: 10px;
	font-family: "poppins";
	margin-top: 5px;
	font-size: 18px;
	color: #1e2b62;
}

/* BOXES IN THE BACKGROUND */
#section1-empty-div {
	width: 1000px;
	height: 1000px;
	margin-left: 40%;
	margin-top: -300px;

	border-radius: 0px;
	box-shadow: 0 0 1px rgb(128, 172, 255);

	background-color: rgba(128, 172, 255, 0.2);
}
#section1-empty-div2 {
	width: 900px;
	height: 1000px;
	margin-top: -700px;
	margin-left: 50px;

	border-radius: 0px;
	box-shadow: 0 0 1px rgba(106, 140, 231);

	background-color: rgba(106, 140, 231, 0.28);
}

#section1-container button {
	padding: 15px 20px;
	margin-top: 50px;

	position: absolute;

	font-weight: 600;
	font-size: 17px;

	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 0 4px 0px black;

	color: black;

	cursor: pointer;

	transition: background-color 0.3s ease, color 0.3s ease;
}

#section1 button:active {
	margin-top: 58px;
	box-shadow: none;
}

#section1-bottom {
	position: absolute;
	bottom: 5%;

	height: 2vh;
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	font-weight: 600;

}
#section1-bottom div:first-child {
	display: inline;
	vertical-align: middle;
	padding-left: 2vw;
}
#section1-bottom div:first-child img {
	height: 24px;
}

#section1-bottom div:last-child {
	padding-right: 50px;
}

#section1-bottom div:last-child img {
	height: 25px;
}