#section2 {
	background-color: transparent;
	margin-top: 5vh;
	height: 1000px;
	position: relative;

	background-color: lightgray;
	
}
#section2-container {
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;	
}
#section2-container div {
	padding: 50px;
	background-color: lightgray;
}
#section2 h2 {
	padding: 20px 100px;
	grid-column: 2;
}