html,
button,
input {
	font-family: "Roboto", sans-serif;
}
body {
	margin: 0px;
}
.overlay {
	background-color: rgb(0, 0, 0);
	margin-top: 81px;
	opacity: 0;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	transition: opacity 0.6s;
	z-index: -1;
}
.nav-bar__links li:hover ~ .overlay {
	transition: opacity 0s;
	opacity: 0.6;
	z-index: 1000;
}

.nav-bar {
	padding: 25px 0px 25px 47px;
	width: 100vw;
}
.nav-bar__links {
	padding: 2px 18px 2px 65px;
	display: inline-block;
	vertical-align: top;
}
.nav-bar__links li:not(.material-symbols-outlined) {
	list-style-type: none;
	display: inline-block;
}
.nav-bar__links button {
	text-align: center;
	padding: 7px 8px;
	font-weight: 700;
	font-size: 14px;
	background-color: transparent;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}
.nav-bar__links button:hover {
	background-color: black;
	color: white;
}
#mso__person {
	background-color: transparent;
	border: none;
}
.material-symbols-outlined {
	font-size: 29px;
	padding: 0px 8px;
	cursor: pointer;
}

.section-slideshow {
	width: 95vw;
	height: 607px;
	margin: auto;
	overflow: hidden;
}

.section-slideshow img {
	width: 100%;
	position: relative;
}

/* || In progress, this mindfucked with me too much so i will hold it off for some time.


.section-slideshow__title {
	top: 50vw;
	font-size: 3.4vw;
	font-weight: 700;
	top: 27vw;
	color: white;
	position: absolute;
}
.section-slideshow__text {
	font-size: 1.2vw;
	font-weight: 300;
	max-width: 725px;
	position: absolute;
	color: red;
}
.section-slideshow__button {
	display: block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 23px;
	border-radius: 30px;
	border: none;
	background-color: white;
	cursor: pointer;
	position: absolute;
	transition: background-color 0.3s;
}
.section-slideshow__button:hover {
	background-color: rgb(221, 221, 221);
}
*/
.section-showcase {
	display: flex;
	max-height: 700px;
	justify-content: space-evenly;
}
.section-showcase__one {
	width: 29vw;
	border-radius: 2vw;
	overflow: hidden;
	position: relative;
}
.section-showcase__one a {
	overflow: hidden;
	display: flex;
	flex-flow: column wrap-reverse;
	align-items: center;
}
.section-showcase__img {
	height: 100%;
	width: 100%;
	transition: all 0.3s;
}
.section-showcase__img:hover {
	transform: scale(1.06);
}
.section-showcase__product-name {
	font-weight: bold;
	color: black;
	bottom: 15%;
	font-size: 1.7vw;
	position: absolute;
}
.section-showcase__button {
	background-color: black;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 25px;
	padding: 0.8vw 1.8vw;
	font-size: 0.9vw;
	opacity: 0;
	bottom: 0%;
	transition: opacity 0.15s, bottom 0.4s;
	position: absolute;
	cursor: pointer;
}

.section-showcase__img:hover ~ .section-showcase__button,
.section-showcase__button:hover {
	opacity: 1;
	bottom: 4%;
}
